body{
font-family: 'Raleway', sans-serif;
}
h2{
	font-weight: 200;
}
h3{
	font-weight: 500;
}
h5{
	font-weight: 700;
}

.bold{
		font-weight: 700
}

.red-background{
	background-color: #5c001b;
}
.red-words{
	color: #5c001b;
}
.red-border{
	border-color: #5c001b;
}
.yellow-background{
	background-color: #ffbe47;
}
.white-words{
	color: white;
}
.white-border{
	border-color: white;
	border-width: 3px;
	border-style: solid;
}
.white-background{
	background-color: white;
}



.bg-image-full-index{
	background-image: url("../img/index-banner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.bg-image-full-feature{
	background-image: url("../img/features-banner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.bg-image-full-plans{
	background-image: url("../img/plans-banner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.bg-image-full-signup{
	background-image: url("../img/signup-banner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.bg-image-full-thanks{
	background-image: url("../img/thanks-banner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}


.btn:hover {
  background-color: #5c001b;
  color: #fff;
  border-color: #5c001b;
}
.btn-red-background:hover {
  background-color: #fff;
  color: #5c001b;
  border-color: #5c001b;
}

.width-icons{
	width: 35%;
}



fieldset{
	border: none;
}
label{
	display: block;
	cursor: pointer;
}
input + label{
	display: block;
}
input{
	border: 3px solid black;
	background-color: white;
	border-radius: 10px;
	font-size: 1rem;
	padding: 1em;
	width: 100%;
}
button{
	cursor: pointer;
	border: none;
	background-color: white;
}

input+label.plan-label{
	display: block;
}

input[type="radio"]{
	width: auto;
}

.signupform{
	max-width: 35em;
	margin: 0 auto;
}


nav ol{
	text-align: center;
}

nav li{
	width: 50%;
	float: left;
}

nav a{
	width: 100%;
	display: block;
}

@media only screen and (min-width:38em){
	nav li{
		width: 25%;
	}
	nav ol{
		float: right;
		width: 100%;
		max-width: 32em;
	}
}
